<Layouts.app flash={@flash} current_scope={@current_scope}>
  <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js">
  </script>
  <.header>
    New Event
    <:subtitle>Use this form to manage event records in your database.</:subtitle>
  </.header>

  <.event_form changeset={@changeset} action={~p"/events"} return_to={~p"/events"} />
</Layouts.app>
